<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxm.restaurant.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.xxm.restaurant.entity.Order">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="meal_id" jdbcType="BIGINT" property="mealId" />
    <result column="restaurant_id" jdbcType="BIGINT" property="restaurantId" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="address_id" jdbcType="BIGINT" property="addressId" />
  </resultMap>
</mapper>