<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxm.restaurant.mapper.RestaurantMapper">
  <resultMap id="BaseResultMap" type="com.xxm.restaurant.entity.Restaurant">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="restaurant_name" jdbcType="VARCHAR" property="restaurantName" />
    <result column="average_price" jdbcType="DOUBLE" property="averagePrice" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
</mapper>